.nav-link.active{
    border-bottom: 1px #FF2020 solid;
}
.Navbar{
    padding: 10px 0px 0px 0px;
}
.Navbar li {
    font-weight: 600;
}
.search svg{
    width: 20px;
    height: 20px;
}
.cart svg{
    width: 30px;
    height: 40px;
}
.profile svg{
    width: 40px;
    height: 30px ;
}

.icon{
    gap:30px
}
.text-hover:hover{
    color: #FF2020;
    transition: 0.5s;
}
nav{
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #fff;
}
li{
    list-style-type: none;
}
.bg-light {
    --bs-bg-opacity: 1;
    background-color: #fff !important;
}
.navbar-expand-lg .navbar-nav {
    gap: 500px;
}
.cart{
    gap: 7px;
}
.sign-color{
    background-color: #FF2020;
}
.hover-red:hover{
    background-color: #FF2020;
    
}

@media screen and (max-width:1396px){
    .navbar-expand-lg .navbar-nav {
        gap: 100px;
    }

}
@media screen and (max-width:991px){
.d-flex{
    flex-direction: column;
}
.d-flex .gap-2{
    flex-direction: row;
    font-size: 13px;
}
.navbar-expand-lg .navbar-nav {
    gap: 0px;
}
.d-flex .cart{
    flex-direction: row;
}
.nav-link.active {
    border-bottom: 0px #FF2020 solid;
    
}

}
