*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #141517;
}
.container{
    gap: 200px;
}
body{
    font-family: "Jost", sans-serif;
}
@media screen and (max-width:991px){
    .container{
        gap:0px;
    }
}