.products-img{
    width: 100%;
    height: 400px;
}
@media screen and (max-width:350px){
   
.products-img{
    width: 100%;
}
}
.background-nav{
    background-color: #fff;
}
.navbar-nav > .active > .a {

    color: red;
  
  }